
#top {
    position: relative;
    padding: 0px;
    margin: 0px;
}

#bottom {
    /*position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;*/
}

#left {
    z-index: 100000;
    position: relative;
    left: -15px;
    top: -20px;
    background-color: #222222;
    padding: 8%;
    width: 104.91%;
    min-height: 1418px;
}

#left-adm2{
    z-index: 100000;
    position: relative;
    left: -15px;
    top: -20px;
    background-color: rgba(87, 148, 224, 0.98);
    padding: 8%;
    width: 104.91%;
    min-height: 1418px;
}

#right {
    //float: right;
    // background-color: #ece3a5;
    //padding: 5px;
    // width: 150px;
}

.center_content {
    // position: relative;
    //background-color: #dddddd;
    //padding: 5px;
}

.left_content {
    background-color: #E8E8E8;
    top: -20px;
    position: relative;
    margin-bottom: -30px;
}

.right_content {
    //  background-color: #dddddd;
    //padding: 5px;
    //margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    /*color: white;
    font-weight : bold;
    text-decoration: none;*/
}

#top a:link:hover, #top a:visited:hover  {
    /*color: black;
    font-weight : bold;
    text-decoration : underline;*/
}

.well{
    background-color: #F9F9F9 !important;
}

.ui-panelmenu .ui-panelmenu-header a {
    padding: 1em .5em 1em 4.2em !important;
}

.ui-panelmenu .ui-menuitem{
    padding: 2px !important;
}

#footer{
    padding: 12px;
    padding-left: 7%;
}

.copy-r{
    font-weight: bold;    
}

/* breadcrums
********************************************************************************/
/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
    padding:19px 62px 19px 69px;
    color: #FFFFFF !important;
    font-size: 1.3em;
}
.btn-breadcrumb .btn:first-child {
    padding:19px 19px 19px 22px;
}
.btn-breadcrumb .btn:last-child {
    padding:19px 62px 19px 69px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
    border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
    border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
    border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
    border-left: 10px solid #adadad;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
    border-left: 10px solid #428bca;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
    border-left: 10px solid #357ebd;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
    border-left: 10px solid #3276b1;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
    border-left: 10px solid #285e8e;
}

/** Success button **/
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
    border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
    border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
    border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
    border-left: 10px solid #398439;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
    border-left: 10px solid #d9534f;
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
    border-left: 10px solid #d43f3a;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
    border-left: 10px solid #d2322d;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
    border-left: 10px solid #ac2925;
}

/** Warning button **/
.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
    border-left: 10px solid #f0ad4e;
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
    border-left: 10px solid #eea236;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
    border-left: 10px solid #ed9c28;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
    border-left: 10px solid #d58512;
}

/** Info button **/
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
    border-left: 10px solid #5bc0de;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
    border-left: 10px solid #46b8da;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
    border-left: 10px solid #39b3d7;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
    border-left: 10px solid #269abc;
}


/* breadcrums
********************************************************************************/




/* Media Querys
********************************************************************************/

@media screen and (max-width: 767px){
    #left {
        z-index: 100000;
        position: relative;
        left: -15px;
        top: -20px;
        background-color: #222222;
        padding: 5%;
        width: 104.91%;
        min-height: 100%;
    }
}



