.titulo{
    text-decoration: none !important;
    color: #ffffff !important;
}

.well-1{
    background-color:  #2E6DA4 !important;
    position: relative;
    bottom: 0px;
    right: 15px;
    padding: 12px;
    min-height: 100% !important;
    overflow-y: hidden;
}



#in-panel{
    color: rgba(143, 143, 143, 0.81);
    text-shadow: white 1px 1px 1px;
    padding: 7px;
    background-color: #e8e8e8 !important;
    margin: -15px;
    margin-bottom: 0px;
}

#esp1{
    margin-top: 40px;
}

#fondo{
    background-color: #2E6DA4 !important;
    position: static;
    /* bottom: 20px; */
    overflow: hidden;
    padding-bottom: 4%;
    margin-top: -20px;
}