<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bd_sms_citas?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="Modelo/SmsVehiculo.hbm.xml"/>
    <mapping resource="Modelo/SmsUsuario.hbm.xml"/>
    <mapping resource="Modelo/SmsCiudad.hbm.xml"/>
    <mapping resource="Modelo/SmsPermisos.hbm.xml"/>
    <mapping resource="Modelo/SmsPais.hbm.xml"/>
    <mapping resource="Modelo/SmsEmpleado.hbm.xml"/>
    <mapping resource="Modelo/SmsReferencia.hbm.xml"/>
    <mapping resource="Modelo/SmsMarca.hbm.xml"/>
    <mapping resource="Modelo/SmsReservacion.hbm.xml"/>
    <mapping resource="Modelo/SmsProveedor.hbm.xml"/>
    <mapping resource="Modelo/SmsCategoria.hbm.xml"/>
    <mapping resource="Modelo/SmsRol.hbm.xml"/>
    <mapping resource="Modelo/SmsServicios.hbm.xml"/>
    <mapping resource="Modelo/SmsEstadovehiculo.hbm.xml"/>
    <mapping resource="Modelo/SmsHojavida.hbm.xml"/>
    <mapping resource="Modelo/SmsAgenda.hbm.xml"/>
    <mapping resource="Modelo/SmsCalificacion.hbm.xml"/>
    <mapping resource="Modelo/SmsCostosServicio.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
